.content{
  position: absolute;
  top:50%;
  left:50%;

  overflow-y: scroll;

  width:450px;
  height:400px;
  margin-top: -200px;
  margin-left: -225px;
  padding:2px;

  border:3px solid #999;
  background-color: #cec4af;

  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.8em;


}

main h3, p {text-align: center;}
